.details {
  margin-top: 20vh;
  //   height: 100vh;
  .details_header {
    text-align: center;
    margin-bottom: 10vh;
    h1 {
      margin-bottom: 1.5vh;
      font-size: 32px;
    }
    p {
      line-height: 3.6vh;
      padding: 0 25%;
    }
  }
  .inner_details_ctn {
    @include flexbox(row, flex-start, center);
    img {
      margin-left: -2%;
      margin-right: 10%;
    }
    .right_ctn {
      @include flexbox(column, space-between, flex-start);
      height: 50vh;
      div {
        margin-bottom: 5vh;
        h1 {
          margin-bottom: 1.5vh;
          font-size: 20px;
        }
        p {
          line-height: 3.5vh;
          padding-right: 40%;
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .details{
    .details_header{
      p{
        padding: 0 7%;
        text-align: center;
      }
    }
    .inner_details_ctn{
      @include flexbox(column, center, center);
      img{
        margin: auto;
        width: 85%;
        margin-bottom: 10vh;
      }
      .right_ctn{
        div{
        text-align: center;
        h1{
          font-size: 28px;
        }
        p{
          padding: 0 5%;
        }

        }
      }
    }
  }
}
