.features{
    margin-top: 20vh;
    text-align: center;
    h1 {
        margin-bottom: 1.5vh;
        font-size: 40px;
    }
    p {
        line-height: 3.6vh;
        margin-bottom: 10vh;
        padding: 0 28%;
    }

}

@media screen and (max-width: 380px) {
    .features{
        h1{
            font-size: $fiftyPx;
        }
        p{
            padding: 0 7%;
        }
        img{
            width: 90%;
        }
    }
}