.intro {
  // @include flexbox(column, center, center);
  padding-top: 15vh;
  text-align: center;
  img {
    margin-bottom: 8vh;
  }
  h1 {
    font-size: $fiftyPx;
    margin-bottom: 1.5vh;
  }
  .text_ctn {
    width: 100%;
    padding: 0 30%;
    margin-bottom: 5vh;

    p {
      line-height: 3.6vh;
    }
  }

  .buttons {
    width: 30%;
    // margin-top: 5vh;
    margin: auto;
    @include flexbox(row, space-between, center);
    //   background-color: red;
    button {
      width: 210px;
      height: 45px;
      border-radius: 20px;
      cursor: pointer;
      border: none;
      color: #fff;
      outline: none;
      -webkit-box-shadow: -1px 10px 10px -3px rgba(0, 0, 0, 0.71);
      box-shadow: -1px 10px 10px -3px rgba(0, 0, 0, 0.71);

      &:first-child {
        background-color: $strongCyan;
        &:hover {
          filter: brightness(120%) saturate(120%);
        }
      }
      &:nth-child(2) {
        background-color: $lightBlue;
        &:hover {
          filter: brightness(120%) saturate(120%);
        }
      }
    }
  }
}

@media screen and (max-width: 380px) {
  .intro {
    h1 {
      font-size: 32px;
      padding: 0 5%;
    }
    .text_ctn {
      padding: 0 3%;
    }

    .buttons {
      @include flexbox(column, space-between, center);
      width: 100%;
      height: 16vh;
      button {
        width: 80%;
        height: 50px;
      }
    }
  }
}
