.utility {
  margin-top: 20vh;
  .inner_utility {
    text-align: center;
    h1 {
      margin-bottom: 1.5vh;
      font-size: 40px;
    }
    p {
      line-height: 3.6vh;
      margin-bottom: 10vh;
    }
  }

  .cards {
    @include flexbox(row, space-evenly, center);
    text-align: center;
    .card {
      img,
      h1 {
        margin-bottom: 2.5vh;
      }
      p {
        line-height: 3.5vh;
        padding: 0 20%;
      }
    }
  }

  .logo_cards {
    margin-top: 20vh;
    @include flexbox(row, space-evenly, center);
  }
}

@media screen and (max-width: 380px) {
 .utility{
  h1 {
    font-size: 30px;
  }

  p {
    padding: 0 10%;
  }
  .cards{
    @include flexbox(column, center, center);
    .card{
      margin-bottom: 10vh;
      p{
        padding: 0 5%;
      }
    }
  }
  .logo_cards{
    margin-top: 10vh;
    @include flexbox(column, center, center);
    .logo_card{
      margin-bottom: 10vh;
    }
  }
 }
}
